@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;

    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;

    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;

    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --info: 204 94% 94%;
    --info-foreground: 199 89% 48%;

    --success: 149 80% 90%;
    --success-foreground: 160 84% 39%;

    --warning: 48 96% 89%;
    --warning-foreground: 25 95% 53%;

    --error: 0 93% 94%;
    --error-foreground: 0 84% 60%;

    --ring: 240 5.9% 10%;

    --radius: 0.5rem;
  }

  .dark,
  [data-kb-theme='dark'] {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;

    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --info: 204 94% 94%;
    --info-foreground: 199 89% 48%;

    --success: 149 80% 90%;
    --success-foreground: 160 84% 39%;

    --warning: 48 96% 89%;
    --warning-foreground: 25 95% 53%;

    --error: 0 93% 94%;
    --error-foreground: 0 84% 60%;

    --ring: 240 4.9% 83.9%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings:
      'rlig' 1,
      'calt' 1;
  }
}

@layer utilities {
  .step {
    counter-increment: step;
  }

  .step:before {
    @apply absolute inline-flex h-9 w-9 items-center justify-center rounded-full border-4 border-background bg-muted text-center -indent-px font-mono text-base font-medium;
    @apply ml-[-50px] mt-[-4px];
    content: counter(step);
  }
}

@media (max-width: 640px) {
  .container {
    @apply px-4;
  }
}

::-webkit-scrollbar {
  width: 16px;
}

::-webkit-scrollbar-thumb {
  border-radius: 9999px;
  border: 4px solid transparent;
  background-clip: content-box;
  @apply bg-accent;
}

::-webkit-scrollbar-corner {
  display: none;
}

input,
button {
  @apply !ring-transparent;
  transition: border-color 0.05s ease-in-out;
}

input:focus {
  @apply border-zinc-400;
  @apply border-2;
  transition: border-color 0.05s ease-in-out;
}

@font-face {
  font-family: 'Azeret Mono';
  src:
    local('AzeretMono'),
    url('/src/assets/fonts/AzeretMono.woff') format('woff');
}

@font-face {
  font-family: 'Chivo';
  src:
    local('Chivo'),
    url('/src/assets/fonts/Chivo.ttf') format('TrueType');
  font-style: normal;
}

@font-face {
  font-family: 'Chivo';
  src:
    local('Chivo-Italic'),
    url('/src/assets/fonts/Chivo-Italic.ttf') format('TrueType');
  font-style: italic;
}

@font-face {
  font-family: 'Chivo Mono';
  src:
    local('ChivoMono'),
    url('/src/assets/fonts/ChivoMono.ttf') format('TrueType');
  font-style: normal;
}

@font-face {
  font-family: 'Chivo Mono';
  src:
    local('ChivoMono-Italic'),
    url('/src/assets/fonts/ChivoMono-Italic.ttf') format('TrueType');
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src:
    local('Roboto-Thin'),
    url('/src/assets/fonts/Roboto/Roboto-Thin.ttf') format('TrueType');
  font-style: normal;
  font-weight: 100;
}

@font-face {
  font-family: 'Roboto';
  src:
    local('Roboto-ThinItalic'),
    url('/src/assets/fonts/Roboto/Roboto-ThinItalic.ttf') format('TrueType');
  font-style: italic;
  font-weight: 100;
}

@font-face {
  font-family: 'Roboto';
  src:
    local('Roboto-Light'),
    url('/src/assets/fonts/Roboto/Roboto-Light.ttf') format('TrueType');
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: 'Roboto';
  src:
    local('Roboto-LightItalic'),
    url('/src/assets/fonts/Roboto/Roboto-LightItalic.ttf') format('TrueType');
  font-style: italic;
  font-weight: 300;
}

@font-face {
  font-family: 'Roboto';
  src:
    local('Roboto-Regular'),
    url('/src/assets/fonts/Roboto/Roboto-Regular.ttf') format('TrueType');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Roboto';
  src:
    local('Roboto-Italic'),
    url('/src/assets/fonts/Roboto/Roboto-Italic.ttf') format('TrueType');
  font-style: italic;
  font-weight: 400;
}
@font-face {
  font-family: 'Roboto';
  src:
    local('Roboto-Medium'),
    url('/src/assets/fonts/Roboto/Roboto-Medium.ttf') format('TrueType');
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: 'Roboto';
  src:
    local('Roboto-MediumItalic'),
    url('/src/assets/fonts/Roboto/Roboto-MediumItalic.ttf') format('TrueType');
  font-style: italic;
  font-weight: 500;
}

@font-face {
  font-family: 'Roboto';
  src:
    local('Roboto-Bold'),
    url('/src/assets/fonts/Roboto/Roboto-Bold.ttf') format('TrueType');
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'Roboto';
  src:
    local('Roboto-BoldItalic'),
    url('/src/assets/fonts/Roboto/Roboto-BoldItalic.ttf') format('TrueType');
  font-style: italic;
  font-weight: 700;
}

@font-face {
  font-family: 'Roboto';
  src:
    local('Roboto-Black'),
    url('/src/assets/fonts/Roboto/Roboto-Black.ttf') format('TrueType');
  font-style: normal;
  font-weight: 900;
}

@font-face {
  font-family: 'Roboto';
  src:
    local('Roboto-BlackItalic'),
    url('/src/assets/fonts/Roboto/Roboto-BlackItalic.ttf') format('TrueType');
  font-style: italic;
  font-weight: 900;
}

@font-face {
  font-family: 'Hero';
  src: url('/src/assets/fonts/Hero/Regular.ttf'), format('TrueType');
}

@font-face {
  font-family: 'NK57 Monospace CD';
  font-weight: 100;
  font-style: normal;
  src: url('/src/assets/fonts/NK57Monospace/Cd/Thin.otf') format('OpenType');
}

@font-face {
  font-family: 'NK57 Monospace CD';
  font-weight: 100;
  font-style: italic;
  src: url('/src/assets/fonts/NK57Monospace/Cd/Italic/Regular.otf') format('OpenType');
}

@font-face {
  font-family: 'NK57 Monospace CD';
  font-weight: 300;
  font-style: normal;
  src: url('/src/assets/fonts/NK57Monospace/Cd/Light.otf') format('OpenType');
}

@font-face {
  font-family: 'NK57 Monospace CD';
  font-weight: 300;
  font-style: italic;
  src: url('/src/assets/fonts/NK57Monospace/Cd/Italic/Light.otf') format('OpenType');
}

@font-face {
  font-family: 'NK57 Monospace CD';
  font-weight: 400;
  font-style: normal;
  src: url('/src/assets/fonts/NK57Monospace/Cd/Regular.otf') format('OpenType');
}

@font-face {
  font-family: 'NK57 Monospace CD';
  font-weight: 400;
  font-style: italic;
  src: url('/src/assets/fonts/NK57Monospace/Cd/Italic/Regular.otf') format('OpenType');
}

@font-face {
  font-family: 'NK57 Monospace CD';
  font-weight: 600;
  font-style: normal;
  src: url('/src/assets/fonts/NK57Monospace/Cd/SemiBold.otf') format('OpenType');
}

@font-face {
  font-family: 'NK57 Monospace CD';
  font-weight: 600;
  font-style: italic;
  src: url('/src/assets/fonts/NK57Monospace/Cd/Italic/SemiBold.otf') format('OpenType');
}

@font-face {
  font-family: 'NK57 Monospace CD';
  font-weight: 700;
  font-style: normal;
  src: url('/src/assets/fonts/NK57Monospace/Cd/Bold.otf') format('OpenType');
}

@font-face {
  font-family: 'NK57 Monospace CD';
  font-weight: 700;
  font-style: italic;
  src: url('/src/assets/fonts/NK57Monospace/Cd/Italic/Bold.otf') format('OpenType');
}

@font-face {
  font-family: 'NK57 Monospace CD';
  font-weight: 800;
  font-style: normal;
  src: url('/src/assets/fonts/NK57Monospace/Cd/ExtraBold.otf') format('OpenType');
}

@font-face {
  font-family: 'NK57 Monospace CD';
  font-weight: 800;
  font-style: italic;
  src: url('/src/assets/fonts/NK57Monospace/Cd/Italic/ExtraBold.otf') format('OpenType');
}

@font-face {
  font-family: 'NK57 Monospace SC';
  font-weight: 100;
  font-style: normal;
  src: url('/src/assets/fonts/NK57Monospace/Sc/Thin.otf') format('OpenType');
}

@font-face {
  font-family: 'NK57 Monospace SC';
  font-weight: 100;
  font-style: italic;
  src: url('/src/assets/fonts/NK57Monospace/Sc/Italic/Thin.otf') format('OpenType');
}

@font-face {
  font-family: 'NK57 Monospace SC';
  font-weight: 300;
  font-style: normal;
  src: url('/src/assets/fonts/NK57Monospace/Sc/Light.otf') format('OpenType');
}

@font-face {
  font-family: 'NK57 Monospace SC';
  font-weight: 300;
  font-style: italic;
  src: url('/src/assets/fonts/NK57Monospace/Sc/Italic/Light.otf') format('OpenType');
}

@font-face {
  font-family: 'NK57 Monospace SC';
  font-weight: 400;
  font-style: normal;
  src: url('/src/assets/fonts/NK57Monospace/Sc/Regular.otf') format('OpenType');
}

@font-face {
  font-family: 'NK57 Monospace SC';
  font-weight: 400;
  font-style: italic;
  src: url('/src/assets/fonts/NK57Monospace/Sc/Italic/Regular.otf') format('OpenType');
}

@font-face {
  font-family: 'NK57 Monospace SC';
  font-weight: 600;
  font-style: normal;
  src: url('/src/assets/fonts/NK57Monospace/Sc/SemiBold.otf') format('OpenType');
}

@font-face {
  font-family: 'NK57 Monospace SC';
  font-weight: 600;
  font-style: italic;
  src: url('/src/assets/fonts/NK57Monospace/Sc/Italic/SemiBold.otf') format('OpenType');
}

@font-face {
  font-family: 'NK57 Monospace SC';
  font-weight: 700;
  font-style: normal;
  src: url('/src/assets/fonts/NK57Monospace/Sc/Bold.otf') format('OpenType');
}

@font-face {
  font-family: 'NK57 Monospace SC';
  font-weight: 700;
  font-style: italic;
  src: url('/src/assets/fonts/NK57Monospace/Sc/Italic/Bold.otf') format('OpenType');
}

@font-face {
  font-family: 'NK57 Monospace SC';
  font-weight: 800;
  font-style: normal;
  src: url('/src/assets/fonts/NK57Monospace/Sc/ExtraBold.otf') format('OpenType');
}

@font-face {
  font-family: 'NK57 Monospace SC';
  font-weight: 800;
  font-style: italic;
  src: url('/src/assets/fonts/NK57Monospace/Sc/Italic/ExtraBold.otf') format('OpenType');
}

@font-face {
  font-family: 'NK57 Monospace NO';
  font-weight: 100;
  font-style: normal;
  src: url('/src/assets/fonts/NK57Monospace/No/Thin.otf') format('OpenType');
}

@font-face {
  font-family: 'NK57 Monospace NO';
  font-weight: 100;
  font-style: italic;
  src: url('/src/assets/fonts/NK57Monospace/No/Italic/Thin.otf') format('OpenType');
}

@font-face {
  font-family: 'NK57 Monospace NO';
  font-weight: 300;
  font-style: normal;
  src: url('/src/assets/fonts/NK57Monospace/No/Light.otf') format('OpenType');
}

@font-face {
  font-family: 'NK57 Monospace NO';
  font-weight: 300;
  font-style: italic;
  src: url('/src/assets/fonts/NK57Monospace/No/Italic/Light.otf') format('OpenType');
}

@font-face {
  font-family: 'NK57 Monospace NO';
  font-weight: 400;
  font-style: normal;
  src: url('/src/assets/fonts/NK57Monospace/No/Regular.otf') format('OpenType');
}

@font-face {
  font-family: 'NK57 Monospace NO';
  font-weight: 400;
  font-style: italic;
  src: url('/src/assets/fonts/NK57Monospace/No/Italic/Regular.otf') format('OpenType');
}

@font-face {
  font-family: 'NK57 Monospace NO';
  font-weight: 600;
  font-style: normal;
  src: url('/src/assets/fonts/NK57Monospace/No/SemiBold.otf') format('OpenType');
}

@font-face {
  font-family: 'NK57 Monospace NO';
  font-weight: 600;
  font-style: italic;
  src: url('/src/assets/fonts/NK57Monospace/No/Italic/SemiBold.otf') format('OpenType');
}

@font-face {
  font-family: 'NK57 Monospace NO';
  font-weight: 700;
  font-style: normal;
  src: url('/src/assets/fonts/NK57Monospace/No/Bold.otf') format('OpenType');
}

@font-face {
  font-family: 'NK57 Monospace NO';
  font-weight: 700;
  font-style: italic;
  src: url('/src/assets/fonts/NK57Monospace/No/Italic/Bold.otf') format('OpenType');
}

@font-face {
  font-family: 'NK57 Monospace NO';
  font-weight: 800;
  font-style: normal;
  src: url('/src/assets/fonts/NK57Monospace/No/ExtraBold.otf') format('OpenType');
}

@font-face {
  font-family: 'NK57 Monospace NO';
  font-weight: 800;
  font-style: italic;
  src: url('/src/assets/fonts/NK57Monospace/No/Italic/ExtraBold.otf') format('OpenType');
}

@font-face {
  font-family: 'NK57 Monospace SE';
  font-weight: 100;
  font-style: normal;
  src: url('/src/assets/fonts/NK57Monospace/Se/Thin.otf') format('OpenType');
}

@font-face {
  font-family: 'NK57 Monospace SE';
  font-weight: 100;
  font-style: italic;
  src: url('/src/assets/fonts/NK57Monospace/Se/Italic/Thin.otf') format('OpenType');
}

@font-face {
  font-family: 'NK57 Monospace SE';
  font-weight: 300;
  font-style: normal;
  src: url('/src/assets/fonts/NK57Monospace/Se/Light.otf') format('OpenType');
}

@font-face {
  font-family: 'NK57 Monospace SE';
  font-weight: 300;
  font-style: italic;
  src: url('/src/assets/fonts/NK57Monospace/Se/Italic/Light.otf') format('OpenType');
}

@font-face {
  font-family: 'NK57 Monospace SE';
  font-weight: 400;
  font-style: normal;
  src: url('/src/assets/fonts/NK57Monospace/Se/Regular.otf') format('OpenType');
}

@font-face {
  font-family: 'NK57 Monospace SE';
  font-weight: 400;
  font-style: italic;
  src: url('/src/assets/fonts/NK57Monospace/Se/Italic/Regular.otf') format('OpenType');
}

@font-face {
  font-family: 'NK57 Monospace SE';
  font-weight: 600;
  font-style: normal;
  src: url('/src/assets/fonts/NK57Monospace/Se/SemiBold.otf') format('OpenType');
}

@font-face {
  font-family: 'NK57 Monospace SE';
  font-weight: 600;
  font-style: italic;
  src: url('/src/assets/fonts/NK57Monospace/Se/Italic/SemiBold.otf') format('OpenType');
}

@font-face {
  font-family: 'NK57 Monospace SE';
  font-weight: 700;
  font-style: normal;
  src: url('/src/assets/fonts/NK57Monospace/Se/Bold.otf') format('OpenType');
}

@font-face {
  font-family: 'NK57 Monospace SE';
  font-weight: 700;
  font-style: italic;
  src: url('/src/assets/fonts/NK57Monospace/Se/Italic/Bold.otf') format('OpenType');
}

@font-face {
  font-family: 'NK57 Monospace SE';
  font-weight: 800;
  font-style: normal;
  src: url('/src/assets/fonts/NK57Monospace/Se/ExtraBold.otf') format('OpenType');
}

@font-face {
  font-family: 'NK57 Monospace SE';
  font-weight: 800;
  font-style: italic;
  src: url('/src/assets/fonts/NK57Monospace/Se/Italic/ExtraBold.otf') format('OpenType');
}

@font-face {
  font-family: 'NK57 Monospace EX';
  font-weight: 100;
  font-style: normal;
  src: url('/src/assets/fonts/NK57Monospace/Ex/Thin.otf') format('OpenType');
}

@font-face {
  font-family: 'NK57 Monospace EX';
  font-weight: 100;
  font-style: italic;
  src: url('/src/assets/fonts/NK57Monospace/Ex/Italic/Thin.otf') format('OpenType');
}

@font-face {
  font-family: 'NK57 Monospace EX';
  font-weight: 300;
  font-style: normal;
  src: url('/src/assets/fonts/NK57Monospace/Ex/Light.otf') format('OpenType');
}

@font-face {
  font-family: 'NK57 Monospace EX';
  font-weight: 300;
  font-style: italic;
  src: url('/src/assets/fonts/NK57Monospace/Ex/Italic/Light.otf') format('OpenType');
}

@font-face {
  font-family: 'NK57 Monospace EX';
  font-weight: 400;
  font-style: normal;
  src: url('/src/assets/fonts/NK57Monospace/Ex/Regular.otf') format('OpenType');
}

@font-face {
  font-family: 'NK57 Monospace EX';
  font-weight: 400;
  font-style: italic;
  src: url('/src/assets/fonts/NK57Monospace/Ex/Italic/Regular.otf') format('OpenType');
}

@font-face {
  font-family: 'NK57 Monospace EX';
  font-weight: 600;
  font-style: normal;
  src: url('/src/assets/fonts/NK57Monospace/Ex/SemiBold.otf') format('OpenType');
}

@font-face {
  font-family: 'NK57 Monospace EX';
  font-weight: 600;
  font-style: italic;
  src: url('/src/assets/fonts/NK57Monospace/Ex/Italic/SemiBold.otf') format('OpenType');
}

@font-face {
  font-family: 'NK57 Monospace EX';
  font-weight: 700;
  font-style: normal;
  src: url('/src/assets/fonts/NK57Monospace/Ex/Bold.otf') format('OpenType');
}

@font-face {
  font-family: 'NK57 Monospace EX';
  font-weight: 700;
  font-style: italic;
  src: url('/src/assets/fonts/NK57Monospace/Ex/Italic/Bold.otf') format('OpenType');
}

@font-face {
  font-family: 'NK57 Monospace EX';
  font-weight: 800;
  font-style: normal;
  src: url('/src/assets/fonts/NK57Monospace/Ex/ExtraBold.otf') format('OpenType');
}

@font-face {
  font-family: 'NK57 Monospace EX';
  font-weight: 800;
  font-style: italic;
  src: url('/src/assets/fonts/NK57Monospace/Ex/Italic/ExtraBold.otf') format('OpenType');
}
