@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  overscroll-behavior: none;
  overflow: hidden;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #171717;
  color: #eee;
}

h1 {
  font-size: 2.5rem;
  font-weight: 700;
}

input {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  padding: 0.5rem;
  border: 1px solid #262626;
  border-radius: 0.25rem;
  background: none;
}

input::placeholder {
  color: #404040;
}

input:focus {
  outline: none;
  border-color: #737373;
}

button {
  cursor: default;
}

a,
a:hover {
  cursor: default;
}
