.cls-1 {
  fill: #1c1c1c;
}

.cls-2 {
  fill: #ff8a15;
}

.cls-3 {
  fill: #1a1a1a;
}

.cls-4 {
  fill: #161616;
}

.cls-5 {
  fill: #0f0f0f;
}

.cls-6 {
  fill: #ffbc00;
}

.cls-7 {
  fill: #22b0ff;
}

.cls-8 {
  fill: #36d0ff;
}
